<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link  rel="stylesheet" href="../../public/StyleSheets/index.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="navbar navbar expand">
    <div class="container-fluid">
        <div class="navbar-header">
        <a href="/" className="navbar-brand">
        <img class="logo" alt="Warbler image" />
        </a>
        </div>
       
  
    </div>
</nav>
<body>
    