<%- include("partials/header")%>
   
    <div class="home-hero">
        <h1 style="color:aliceblue">Whats Happening?</h1>
        <h4  style="color:aliceblue">New to Warbler?</h4>
        <br>
        <a href="/api/auth/signup"><button class="btn btn-primary">Sign Up Here</button></a>
    </div>
<%- include("partials/footer")%>