
<%- include("partials/header")%>
    <div class="home-hero">
        <h1>Whats Happening?</h1>
        <h4>New to Warbler?</h4>
        <a href="/api/auth/signup"><button class="btn btn-primary">SignUp</button></a>
    </div>
    <%- include("partials/footer")%>