<%-include("partials/logoutHeader")%>
<ul>
    <a href="/api/users/<%=sessionID%>/messages">New Message</a>    
</ul>
<h1>
    Welcome <%=username%>
    <br>
    <a href="/api/messages"><button class="btn btn-success">All Messages</button></a>
</h1>
<%- include("partials/footer")%> 