.navbar{
  margin-bottom:1rem;
  background-color: aquamarine;
}
.navbar a{
  margin:0 0.5rem;
  font-weight: bold;
}
.logo {
  content:url('./Images/warbler-logo.png');
  display: inline-block;
  width:20px;
  margin-bottom:2px;
  margin-right: 5px;
  border-radius: 2px;
}
.navbar a:hover{
  color:white;
  text-decoration: underline;
  cursor: pointer;
}
.onboarding>.navbar{
  background-image: url("./images/nav-bg.png");
  background-size: 100% 100%;
}
.home-hero{
    width:100vw;
    height:47vw;
    position:absolute;
    top:0;
    left: 0;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: url("./Images/signed-out-home.jpg");
    background-size:cover;
    text-align: center;
    padding:1rem;
    background-position: center center;
  }